@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

/* .carousel-item>div{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  */
.slider-image{
    filter: brightness(50%);
}  

@media  screen and (max-width: 576px) {
  
}